@{
    ViewBag.Title = "About NMCT";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="~/Content/Images/about_800x600.jpg" width="400" height="300" alt="Mountain Biking" class="pull-right img-responsive img-rounded" />

<p>NMCT is a small collective of like-minded individuals who share the love for riding. We wanted to create a tool that would be useful to the community and let them explore nearby trails. Our goals was to provide people with a way to explore more than their every day trails.</p>

<p>With this website, you are able to see what others think of the trails around you and make educated decisions on the trails you would like to ride.</p>

<div class="clearfix"></div>

