@{
    ViewBag.Title = "Home";
}
<style>.body-content {background-color: rgba(48,48,48,0.65);}</style>

<div class="jumbotron">
    <h1>Northern Michigan Cycling Trails</h1>
    <p class="lead">Explore, Review, Share! A comprehensive collection of trails in Northern Michigan.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Explore Trails</h2>
        <p>
            Explore our collection of trails located throughout Northern Michigan. Review and share your favorites with others in the mountain biking and cycling community.
        </p>
        <p><a class="btn btn-default" href="../Trails/">Explore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Suggestions</h2>
        <p>Don't see a trail? Fill out our trail suggestion form with as much information as possible and our team will add the trail to our listings once the information is verified.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <!--<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>-->
</div>