body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("Images/bg2.jpg");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

div.spacer5px {
    display:block;
    height:5px;
    clear:both;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
    resize: none;
}

.jumbotron {
    background-color: #303030;
    background-color: rgba(48,48,48,0.0);
}
.body-content {
    background-color: rgba(48,48,48,0.95);
    border-radius: 0 0 10px 10px;
}

.userAssignment, .statusSelector{
    color: black;
}

/* Formatting for dropdown on navbar*/
.login-dropdown {
    padding: 3px 8px 3px 10px;
    width: 175px;
}
.login-dropdown .form-group-sm {
    margin-bottom: 5px;
    
}
.login-dropdown .form-group-sm label {
    padding: 2px 0 2px 35px;
}

/* Animations */
body {
  -webkit-animation: background 120s cubic-bezier(1,0,0,1) infinite;
  animation: background 120s cubic-bezier(1,0,0,1) infinite;
  
}

@-webkit-keyframes background {
  0% { background: url("Images/bg2.jpg"); background-repeat: no-repeat; background-attachment: fixed;}
  33% { background: url("Images/bg3.jpg"); background-repeat: no-repeat; background-attachment: fixed;}  
  67% { background: url("Images/bg1.jpg"); background-repeat: no-repeat; background-attachment: fixed;}
  100% { background: url("Images/bg2.jpg"); background-repeat: no-repeat; background-attachment: fixed;}
}

@keyframes background {
  0% { background: url("Images/bg2.jpg"); background-repeat: no-repeat; background-attachment: fixed;}
  33% { background: url("Images/bg3.jpg"); background-repeat: no-repeat; background-attachment: fixed;}  
  67% { background: url("Images/bg1.jpg"); background-repeat: no-repeat; background-attachment: fixed;}
  100% { background: url("Images/bg2.jpg"); background-repeat: no-repeat; background-attachment: fixed;}
}

/* Overlay for Create Review */
#createReview {
    transform: scale(0.8);
    padding-bottom: 10px;
}
.popup_visible #createReview {
    transform: scale(1);
}

.popover {
    max-width: 500px;
    min-width: 300px;
}
#createReview .popover-title {
    text-align:center;
}
#createReview .control {
    margin-bottom: 10px;
    padding-bottom: 50px;
}
#createReview form {
    margin: 10px;
}

.list-group-item:not(.no-pointer):hover {
    cursor: pointer;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Stars */
/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

/* Carousel */
.carousel-caption {
    background-color: rgba(0,0,0,0.45);
    padding: 0 0 20px 5px;
    border-radius: 4px;
}
    .carousel-caption p {
        text-align: left;
    }
.carousel-control {
  opacity: 0.50;
  filter: alpha(opacity=50);
  background-color: rgba(0, 0, 0, 0.0);
}